<template>
  <div id="app">
       <Sidenav></Sidenav>
       <Topnav></Topnav>
       <div class="main-content">
          <input type="" class="search" placeholder="Search">

                <input type="button" class="add" data-toggle="modal" data-target="#add" onclick="" value="Add Book">
          <table cellspacing=2 cellpadding=5 id="data_table">
                
                <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Available Copies</th>
                <th>Option</th>
                </tr>
                
                <tr id="row1">
                <td id="name_row1">World War 1</td>
                <td id="author_row1">Rupert Colley</td>
                <td id="category_row1">History</td>
                <td id="copies_row1">10</td>
                <td>
                <input type="button" id="edit_button1" value="Edit" class="edit" onclick="">
                <input type="button" id="save_button1" value="Save" class="save" onclick="">
                <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
                </tr>
                
                <tr id="row2">
                <td id="name_row2">Human Geography</td>
                <td id="author_row2">David Palmer</td>
                <td id="category_row2">Geography</td>
                <td id="copies_row2">15</td>
                <td>
                <input type="button" id="edit_button2" value="Edit" class="edit" onclick="">
                <input type="button" id="save_button2" value="Save" class="save" onclick="">
                <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
                </tr>
                
                <tr id="row3">
                <td id="name_row3">Cell Biology</td>
                <td id="author_row3">S. Chand</td>
                <td id="category_row3">Biology</td>
                <td id="copies_row3">20</td>
                <td>
                <input type="button" id="edit_button3" value="Edit" class="edit" onclick="">
                <input type="button" id="save_button3" value="Save" class="save" onclick="">
                <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
                </tr>
                    
 
                </table>
       </div>

       <div class="modal" id="add">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Adding Books...</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                       
                        <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Book Name</label>
                              <input type="email" class="form-control" id="name" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Author</label>
                              <input type="email" class="form-control" id="author" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Category</label>
                              <input type="email" class="form-control" id="category" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Copies</label>
                                <input type="email" class="form-control" id="copies" placeholder="">
                              </div>
                          </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>

                </div>
            </div>
        </div>

         <div class="modal" id="delete">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
    
                    <div class="modal-body">
                     <p>Are you sure do you want to delete?</p>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="delete_book();">Yes</button>
                        
                    </div>
    
                </div>
            </div>
        </div>



  </div>
</template>

<script>
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
    components: { Sidenav, Topnav },
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>