<template>
  <div id="app">
      <div class="wrapper">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
      </div>
    

       <div class="main-content">
            <div class="container pt-10">
                <div class="row mt-5">
                    <div class="col-10 col-sm-10 col-lg-6 pb-3">
                        <h3>Borrowed and Returned books</h3>
                        <canvas id="barchart" style= "width: 180px; height: 100px;"></canvas>
            
                    </div>
                    <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                        <h4>Popular book Genre</h4>
                        <canvas id="piechart" style= "width: 180px; height: 100px;"></canvas>
                       
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
  components: { Sidenav, Topnav },
     mounted: function(){
        
  var ctx1 = document.getElementById('barchart').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY', 'JUN', 'JULY', 'AUG', 'SEPT', 'OCT', 'NOV', 'DEC'],
        datasets: [{
            label: ['Borrowed Books'],
            data: [49, 50, 60, 20, 39, 70, 77,99,65,66,56,54],
            borderColor:"black",
            backgroundColor: ['blue','orange','blue','orange','blue','orange','blue','orange','blue','orange','blue','orange',],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    var ctx2 = document.getElementById('piechart').getContext('2d');
    new Chart(ctx2, {
        type: 'pie',
        data: {
        labels: ['SCIENCE','ENGLISH','FILIPINO','MATH'],
        datasets: [{
            label: '# of Votes',
            data: [30, 8, 7, 5],
            borderColor:"black",
          backgroundColor: ['blue','orange','gray','yellow',],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
  }
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>