<template>
  <div id="app">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
    

       <div class="main-content">
           <table cellspacing=2 cellpadding=5 id="data_table">

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date Registered</th>
                <th>Option</th>
            </tr>

            <tr id="row1">
                <td id="name_row1">Marilla, Joseph</td>
                <td id="email_row1">marilla@gmail.com</td>
                <td id="registered_row1">Jan 20, 2020</td>
                <td>
                    <input type="button" id="edit_button1" value="Edit" class="edit" onclick="">
                    <input type="button" id="save_button1" value="Save" class="save" onclick="">
                    <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
            </tr>

            <tr id="row2">
                <td id="name_row2">Bengson, Mark Justine</td>
                <td id="email_row2">bengson@gmail.com</td>
                <td id="registered_row2">Feb 20, 2020</td>
                <td>
                    <input type="button" id="edit_button2" value="Edit" class="edit" onclick="">
                    <input type="button" id="save_button2" value="Save" class="save" onclick="">
                    <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
            </tr>

            <tr id="row3">
                <td id="name_row3">Barcelon, Joshua</td>
                <td id="email_row3">barcelon@gmail.com</td>
                <td id="registered_row3">Mar 20, 2020</td>
                <td>
                    <input type="button" id="edit_button3" value="Edit" class="edit" onclick="">
                    <input type="button" id="save_button3" value="Save" class="save" onclick="">
                    <input type="button" value="Delete" class="delete" data-toggle="modal" data-target="#delete">
                </td>
            </tr>
        </table>
        <input type="" class="search" placeholder="Search">

        <input type="button" class="add" data-toggle="modal" data-target="#add" onclick=""
            value="Add Row">
        </div>

        <div class="modal" id="add">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Adding Info...</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                       
                        <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Name</label>
                              <input type="email" class="form-control" id="name" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Email Address</label>
                              <input type="email" class="form-control" id="email" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Date of Register</label>
                              <input type="email" class="form-control" id="regestered" placeholder="">
                            </div>
                          </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                 <p>Are you sure do you want to delete?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick ="delete_row('1');">Yes</button>
                    
                </div>

            </div>
        </div>
    </div>



  </div>
</template>

<script>
 import Sidenav from '../navigations/Sidenav.vue'
  import Topnav from '../navigations/Topnav.vue'
export default {
components: {Sidenav,Topnav},
}
</script>

<style>

</style>