html {
  height: 100%;
}
body{
  background: #B9B9B9;

}
a:hover {
  text-decoration: none;
}
h2
{
  font-size: 30px;
  color: white;
  padding-top: 27px
}
h3{
  font-size: 12px;
  margin-left: 20px;
  padding-top: 5px;
  color: #ffffff;
}
h4{
  font-size: 15px;
  margin-left: 70px;
  color: #ffffff;

}
h5{
  font-size: 15px;
  margin-left: 1px;
  color: #ffffff;
  margin-top: 2px;

}
h6{
  font-size: 15px;
  margin-left: 1px;
  color: #000000;
  margin-top: 2px;

}
.btn2{
  padding-top: 20px;
  padding-left: 22px; 
}
.circle{
  height: 30px;
  width: 80px;
  background-color: #ECB9B9;
  border-radius: 50px;
  margin-top: 20px;
}
.circle2{
  height: 35px;
  width: 100px;
  background-color: #ECB9B9;
  border-radius: 50px;
  margin-top: 5px;
}
.circle3{
  height: 35px;
  width: 50px;
  background-color: #ECB9B9;
  border-radius: 50px;
  margin-top: 20px;
}
.circle4{
  height: 35px;
  width: 70px;
  background-color: #ECB9B9;
  border-radius: 50px;
  margin-top: 20px;
}
.circle5{
  height: 35px;
  width: 70px;
  background-color: #5ABB94;
  border-radius: 50px;
  margin-top: 20px;
}
.circle6{
  height: 35px;
  width: 70px;
  background-color: #41CE4F;
  border-radius: 50px;
  margin-top: 20px;
}



.top-nav {
  width:100%;
 
  background-color: #4E3557;
  height: 6.2rem;
  z-index: 0;
  position: absolute;
  top: 0  ;
  right: 0;

}
.row{
  margin-left: 10px;
  margin-top: 10px;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding-right: 1rem;
  padding-top: 6px;
  
}

.link-logout {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  
  text-decoration: none;
  /* identical to box height */
  color: pink;
}


.main-content {
  margin-left: 265px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.custom-form {
  color: #B6A192;
  display: block;
  width: 24rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;

}

.invert {
  transform: scaleX(-1);
}

.custom-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 3px;
  text-align: center;
  margin-right: 3.5px;
}
.btn-primary{
  background-color:#8CC6CF;
  color: black;
}

.btn-secondary{
  background-color:#EC94AF;
  color: black;
}
th {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 10;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  background-color: #828282;
}

td {
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  line-height: 3rem;
  background-color: #ffffff;
}




.side-nav {
  height: 85%;
  width: 270px;
  position: fixed;
  z-index: 2;
  top: 1;
  bottom: 0;
  background-color: #5A5568;
  overflow-x: hidden;
 
  transition: all 400ms;
}

.logo-name {
font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-weight: 100;
  color: #FFFFFF;
}

.side-nav .logo-name:hover {
  cursor: default;
}




}

.side-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  color: ;
  display: block;

}

.side-nav .option:hover {
  color: #a5b3a8;
  transition: all 250ms;
}

.option {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}



.element-container {
  width: 100%;
  height: 55px;
  position: relative;
}

.element {
  position: absolute;
  margin-top: 2px
}

.backcolor {
  position: relative;
  height: 55px;
  background-color: #898A95;
}
.backcolor2 {
  position: relative;
  height: 55px;
  background-color: #A16B78;
}
.icon{
  margin-left: 27px;
  margin-top: 12px;
}



@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .side-nav {
    width: 90px;
  }

  .main-content {
    margin-left: 90px;
  }

  .active {
    height: 50px;
  }


  .custom-btn {
   font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 3;
    font-size: 0px;
    text-align: center;
    font-display: none;
    width: 44px;
    line-height: -2.5rem;
    background-color: pink;
  }
  .btn3{
    color: #ffff;
  }
  .option {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .logo {
    margin-left: -15px;
  }

  .top-nav {
    width: calc(100% - 90px);
  }

  .nav-container {
    margin-left: 125px;
  }
  .modal1 {
   color: #8D7A7A;
  }
  }
}

