<template>
   <div class="sidebar">
                
                <ul>
                    <li><a href = "Dashboard.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li><br>
                    <li><a href = "PatronManagement.html"><i class="fas fa-tasks"></i>Patron Mangement</a></li><br>
                    <li><a href = "BookManagement.html"><i class="fas fa-book"></i>Book Management</a></li><br>
                    <li><a href = "Setting.html"><i class="fas fa-sliders-h"></i>Setting</a></li>
                </ul>
    </div>
</template>

<script>
export default {
    name:'Sidenav'
}
</script>

<style scoped>
 @import '../../assets/css/style.css';
</style>