<template>
  <div class="topbar">
       <div class = "row" >
                    <img src="../../assets/images/Logo1.png" height="65">   
                </div>
      <div class="container">
                    <button class = "logout"><h6>Logout</h6></button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Topnav'
}
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>