
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #fefefe;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}


a {
  transition: 0.5s;
  color: #199EB8;
}

a:hover {
  color: #23c2e1;
}


/*===========================================================================*/

#header {
  background: #AC9595;
  height: 70px;
}

#header #logo {
  margin: 10px 30px 0 0;
}



#header #logo h1 a,
{
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}


/*===========================================================================*/
/*Navigation Section*/

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}


.nav-menu a {
  padding: 22px 15px 18px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199EB8;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/*===========================================================================*/
/*Mobile Styles*/

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}


#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #199EB8;
}

#mobile-nav ul .menu-item-active {
  color: #199EB8;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}


body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*===========================================================================*/
/*Front Page*/

.Frontpage {
  display: table;
  position: relative;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  padding: 10px 0;
  color: #fff;
  width: 100%;
  height: 60vh;
}

.Frontpage:after {
  content: '';
  z-index: 0;
  font-size: 1px;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Frontpage .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.Frontpage-brand {
  margin-bottom: 75px;
  display: inline-block;
}

.Frontpage-brand:hover {
  opacity: .75;
}

.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}

/ x;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #E04F00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

/*===========================================================================*/
/*Categories*/

#Categories {
  padding: 60px 0;
}

#Categories #Categories-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#Categories #Categories-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#Categories #Categories-flters li:hover,
#Categories #Categories-flters li.filter-active {
  background: #18d26e;
  color: #fff;
}

#Categories #Categories-flters li:last-child {
  margin-right: 0;
}

#Categories .Categories-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#Categories .Categories-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#Categories .Categories-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#Categories .Categories-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#Categories .Categories-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#Categories .Categories-item figure .link-preview,
#Categories .Categories-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#Categories .Categories-item figure .link-preview i,
#Categories .Categories-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#Categories .Categories-item figure .link-preview:hover,
#Categories .Categories-item figure .link-details:hover {
  background: #18d26e;
}

#Categories .Categories-item figure .link-preview:hover i,
#Categories .Categories-item figure .link-details:hover i {
  color: #fff;
}

#Categories .Categories-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#Categories .Categories-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#Categories .Categories-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#Categories .Categories-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#Categories .Categories-item .Categories-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#Categories .Categories-item .Categories-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#Categories .Categories-item .Categories-info h4 a {
  color: #333;
}

#Categories .Categories-item .Categories-info h4 a:hover {
  color: #18d26e;
}

#Categories .Categories-item .Categories-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}


/*===========================================================================*/
/*Contact*/

#contact {
  background: #ff6666;
  padding: 220px 0;
  margin-top: 10px;
}

#contact h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #fefefe;
}

#contact .info i {
  font-size: 32px;
  color: #fefefe;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .php-email-form button[type="submit"] {
  background: #fefefe;
  border: 0;
  padding: 10px 24px;
  margin-top: 20px;
  color: #000000;
  transition: 0.4s;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #23c2e1;
}



